services:
  db:
    image: mysql:8.4
    container_name: app_db
#    command: --default-authentication-plugin=caching_sha2_password
    environment:
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: app
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ./mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 30

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: app_backend
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
      - ./.env:/var/www/html/.env:ro
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
    ports:
      - "8080:80"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: app_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - ./.env:/app/.env:ro
#      - ./data/frontend_node_modules:/app/node_modules
    ports:
      - "5173:5173"
    environment:
      HOST: 0.0.0.0
      PORT: 5173
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0", "--port", "5173"]
    depends_on:
      - backend
  redis:
    image: redis:7.4-alpine
    container_name: app_redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 30